body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.btn-voltar {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-empresas {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 20px;
}

.form-container {
    background-color: white;
    padding: 20px;
    width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-title {
    background-color: #90ee90;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-salvar {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn-salvar:hover,
.btn-cancelar:hover {
    opacity: 0.8;
}
