body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.btn-voltar {
    display: inline-block;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-projetos {
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.projeto-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.projeto-info {
    background-color: #b2ff91;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.colaboradores {
    text-align: left;
    margin-bottom: 20px;
}

.colaboradores ul {
    list-style: none;
    padding: 0;
}

.colaboradores li {
    background-color: #e9ecef;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.btn-adicionar {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.status-container {
    text-align: left;
    margin-bottom: 20px;
}

.status-container label {
    font-weight: bold;
}

.status-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-salvar {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.btn-excluir {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

select[multiple] {
    height: auto;
}

#colaboradores, #status {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none; /* Remove a aparência padrão */
    cursor: pointer;
}

#colaboradores:focus, #status:focus {
    border-color: #007bff;
    outline: none;
}