body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

.btn-voltar {
    text-decoration: none;
    background-color: #ff4d4d;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FFA54F;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
