body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  color: #333;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  font-weight: bold;
}

.filtros input[type="date"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filtros button {
  background-color: #ff8c00;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.filtros button:hover {
  background-color: #e67600;
}

.cartao-bloco {
  background-color: white;
  padding: 15px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.cartao-bloco h2 {
  margin-top: 0;
  color: #222;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
  font-weight: bold;
}

.total-cartao {
  background-color: #f9f9f9;
  font-weight: bold;
}

.total-geral {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}
.botao-voltar {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f97316; /* laranja */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.botao-voltar:hover {
  background-color: #ea580c;
}