<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cadastro_usuario.css') }}">
</head>
<body>

    <div class="container">
        <h2>Cadastro de Usuário</h2>
        <form action="/cadastro_usuario" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" name="nome" placeholder="Nome Completo" required>
            <input type="text" name="cpf" placeholder="CPF" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</body>
</html>
