<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas - ControlDesk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/listar_empresas.css') }}">
</head>
<body>
    <header>
        <h1 class="title">ControlDesk</h1>
        <div class="logout-container">
            <a href="{{ url_for('dashboard_bp.dashboard') }}" class="btn-voltar"><i class="fas fa-sign-out-alt">⮌ Voltar</i></a>
        </div>
    </header>

    <button class="btn-empresas">Empresas</button>

    <div class="lista-empresas">
        {% for empresa in empresas %}
            <div class="empresa-card">
                <span>📄 {{ empresa.razao_social }} - {{ empresa.cnpj }}</span>
                <a href="{{ url_for('empresa_bp.editar_empresa', id=empresa.id) }}" class="edit-btn">✏️</a>
            </div>
        {% endfor %}

        <div class="empresa-card cadastro">
            <a href="{{ url_for('empresa_bp.cadastro_empresa_page') }}" class="add-btn">➕ Cadastrar nova Empresa</a>
        </div>
    </div>

<footer>
    <p>&copy; 2025 ControlDesk. Todos os direitos reservados.</p>
</footer>

</body>
</html>
