<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Despesas - ControlDesk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu_despesas.css') }}">
</head>
<body>
    <header>
        <h1 class="title">ControlDesk - Menu de Despesas</h1>
    </header>

    <div class="container">
        <p class="welcome-text">Olá, {{ colaborador.nome }}! Escolha uma opção:</p>

        <a href="{{ url_for('despesa_bp.cadastro_despesa_page') }}" class="btn">Cadastrar Despesa</a>
        <a href="{{ url_for('despesa_bp.historico_despesas') }}" class="btn btn-info">Histórico de Despesas</a>
        <a href="{{ url_for('auth_bp.logout') }}" class="btn btn-logout">Sair</a>
    </div>
</body>
</html>
